{% extends 'base.html' %}
{% load static %}


{% block contenido %}
	<br><br><br><br>
	<center><p>
        <h2 class= "parrafo">
          En el año 2021, en el curso INFORMATORIO, sobre programación web; se desarrolla el juego NASAC <br>
          (lengua de origen QOM, cuyo significado invita a jugar; con la implicancia que tiene en el <br>70 aniversario de la creación del Chaco, a modo de aporte o una forma más de reconocimiento <br>a nuestros hermanos originarios de este suelo). <br> En esta página se pondrá a prueba su conocimiento sobre la provincia a través del juego, <br> de manera lúdica siendo una invitación a conocer algo más sobre nuestras raices,<br> culturales y antonomásicas que nos dan identidad como pueblo CHAQUEÑO!<br>
          <br>Para jugar simplemente REGÍSTRESE, luego avance en el juego y el conocimiento de nuestro terruño.  
        </h2>  
    </p></center>
{% endblock contenido %}